.right h3{
	margin-top: 15px;
	text-align: center;
	font-size: 18px;

}
.right{
	background: #fff;
}
.right fieldset {
	padding: 40px;
	width: 90%;
	margin: 0 auto;
}
.right input[type=submit],input[type=button]{
	border: 0;
	padding: 3px 15px;
	
}
.result{
	width: 90%;
	margin: 0 auto;
}
.right table {
	border: 1px solid #000;
	margin: 20px auto ;
	border-collapse: collapse;
}
.right table td, .right table th{
	width: 120px;
	border: 1px solid #000;
	text-align: center;
	
}
.right table th{
	background: #fc6;
}